#app {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: linear-gradient(0.25turn, #E13B3B, #E9704B);
    background-attachment: fixed; 
    font-family: "Teko", Sans-serif;
    font-size: 16px;
    position: relative;
}

@media only screen and (max-width: 800px) {
  #app {
    font-size: 10px;
  }
}
/* ---------------------------------------------- */
.IrnBru {
    background: linear-gradient(
        to bottom left, 
        rgb(231, 142, 9) 0%,
        rgb(231, 142, 9) 50%,
        rgb(22, 39, 169) 50%, 
        rgb(22, 39, 169) 100%);
    background-color:rgb(113, 77, 22);
    color: white
}
.Flamingo {
    background-color: rgb(169, 51, 149);
}
.Wasp {
    background: linear-gradient(
        to bottom left, 
        rgb(164, 170, 1) 0%,
        rgb(164, 170, 1) 50%,
        rgb(0, 0, 0) 50%, 
        rgb(0, 0, 0) 100%);
    background-color: rgb(150, 145, 46);
    color: white
}
.Mint {
    background-color: rgb(39, 160, 204);
}
.Green {
    background-color: rgb(68, 153, 76);
}
.Orange {
    background-color: rgb(193, 118, 14);
}
.Purple {
    background-color: rgb(98, 68, 153);
}
.Red{
    background-color: rgb(171, 58, 58);
}
.Gryffindor {
    background: linear-gradient(
        to bottom left, 
        rgb(231, 142, 9) 0%,
        rgb(231, 142, 9) 50%,
        rgb(218, 63, 76) 50%, 
        rgb(218, 63, 76) 100%);
    background-color: rgb(231, 142, 9);
}
.Pink{
    background-color: rgb(212, 99, 178);
}
.White{
    background-color: rgb(255, 255, 255);
    color: black;
}
.Black {
    background-color: rgb(20, 20, 20);
    color: white;
}
.Blue {
    background-color: rgb(77, 115, 174);
}
.Yellow {
    background-color: rgb(222, 210, 76);
}
.Grey {
    background-color: rgb(83, 83, 83);
    color: white;
}
.Dalmatians {
    background-color: rgb(173, 173, 173);
}
.Blobs {
    background-color: rgb(117, 121, 117);
}
/* --------------------------- */
.VB {
    background-color: rgb(240, 144, 0);
}
.V0_V2 {
    background-color: rgb(243, 239, 17);
    color: black;
}
.V1_V3 {
    background-color: rgb(120, 236, 110);
    color: black;
}
.V2_V4 {
    background-color: rgb(14, 158, 201);
    color: black;
}
.V3_V5 {
    background-color: rgb(173, 62, 201);
}
.V4_V6 {
    background-color: rgb(205, 22, 31);
}
.V5_V7 {
    background-color: rgb(0, 0, 0);
    color: white;
}
.V7plus {
    background-color: rgb(255, 255, 255);
    color: black;
}
.OffCircuit {
    background-color: rgb(138, 138, 138);
}
.Comp {
    background-color: rgb(243, 145, 235);
    color: black;
}
/* -------------------------------------------- */
.climbingAppButton {
    font-size: 1.5rem;
    background-color: #E9704B;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    justify-self: center;
    margin: 5px;
    padding: 10px;
}
.climbingAppButton:disabled {
    background-color: #c2694e;
    opacity: 0.7;
}
.climbingAppButton:hover:enabled {
    background-color: #994931;
}

